#background-canvas {
    position: fixed;
    top: 30%;
    left: 0;
    z-index: -1;
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 5%;
    gap: 0;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
    background: rgba(232, 232, 232, 0.28);

}

.item {
    display: flex;
    flex-direction: row;
    gap: 15px;
    text-decoration: none;
    color: inherit;
    padding: 10px;
    border: 1px solid rgba(162, 162, 162, 0.8);
    transition: all 0.2s ease;
}

.item:hover {
    background: #f9f9f9;
    border-color: #ddd;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.preview {
    flex-shrink: 0;
    width: 50%;
    overflow: hidden;
    margin: 10px 0;
}

.preview img {
    width: 100%;
    transition: transform 0.3s ease;
    border: 1px solid #ababab;
}

.item:hover .preview img {
    transform: scale(1.05);
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info h2 {
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 3px 0;
    color: #666666;
    transition: color 0.3s ease;
    border-bottom: 1px solid #c5c4c4;
}

.item:hover .info h2 {
    color: #45a049;
}

.info p {
    text-align: left;
    font-size: 14px;
    line-height: 1.2;
    color: #888f8d;
    margin: 0;
}

@media (max-width: 1100px) {

    .grid {
        gap: 10px;
    }
}

/* Mobile adjustments */
@media (max-width: 768px) {
    .content {
        max-width: 95%;
    }

    .grid {
        gap: 30px;
    }

    .item {
        flex-direction: column;
    }

    .preview {
        width: 100%;
    }

    .h1 {
        font-size: 24px;
    }
    .info {
        padding: 0;
        margin: 0;
    }

    .info h2 {
        font-size: 20px;
    }

    .info p {
        font-size: 16px;
    }
}