.widgets-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-right: 20px;
}

.clock-wrapper {
    width: 160px;
    height: 160px;
    padding: 30px;
    position: relative;
    border-top: none;
    justify-items: center;
}


.clock {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    border: 1px solid #ff0000;
    position: relative;
    margin-top: 20px;
}

.clock-face {
    width: 160px;
    height: 160px;
    position: absolute;
    background-color: #fff;
    opacity: 0.7;
}

.hour-marks {
    position: absolute;
    width: 50px;
    height: 50px;
}

.hour-mark {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #333;
}

.number {
    position: absolute;
    font-size: 14px;
    color: #333;
}

.digital-time {
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    position: relative;
    color: #45a049;
}

.hand {
    position: absolute;
    transform-origin: bottom center;
    border-radius: 10px;
}

.hour-hand {
    width: 4px;
    height: 50px;
    background-color: #333;
    top: 30px;
    left: 78px;
}

.minute-hand {
    width: 3px;
    height: 65px;
    background-color: #333;
    top: 15px;
    left: 78.5px;
}

.second-hand {
    width: 1px;
    height: 70px;
    background-color: #f00;
    top: 10px;
    left: 79.5px;
}
.calendar-wrapper {
    width: 100%;
    padding: 20px;
    border-top: none;
}

.calendar-header {
    background-color: thistle;
    border: 1px solid dimgrey;
    opacity: 0.8;
    color: darkblue;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.month-display {
    font-weight: lighter;
}

.days-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #797979;
    opacity: 0.5;
    color: white;
}

.day-header {
    text-align: center;
    padding: 2px 0;
    font-size: 12px;
}

.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 1px solid dimgrey;
}

.calendar-day {
    border: 1px solid #ddd;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.current-month {
    background-color: white;
}

.other-month {
    background-color: #f0f0f0;
    color: #aaa;
}

.today {
    background-color: lemonchiffon;
    font-weight: bold;
}

.weekend {
    background-color: #d9e5ff;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.controls button {
    color: black;
    border: none;
    padding: 2px 5px;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .widgets-container {
        margin-top: 5px;
        margin-right: 10px;
    }

    .clock-wrapper {
        max-width: 100px;
        max-height: 100px;
    }

    .clock {
        display: none;
    }


    .digital-time {
        font-size: 15px;
    }

}

@media (max-width: 768px) {
    /* Clock and widgets container adjustments */
    .widgets-container {
        margin: 20px auto !important;
        max-width: 250px !important;
    }

}